In [2]:
# Python code to print name,student number and e-mail
print("Name: Anu")
print("Student Number: ST3452")
print("E-mail Address: anu3476@gmail.com")

Name: Anu
Student Number: ST3452
E-mail Address: anu3476@gmail.com

In [8]:
# python code to print name,student name e-mail using escape sequences
print("Name: Anu \nStudent Number: ST3452\nE-mail Address: anu3476@gmail.com")

Name: Anu
Student Number: ST3452
E-mail Address: anu3476@gmail.com

In [16]:
#python code toadd subtract multiply and devide two numbers
num1=14
num2=7
addition=num1 + num2
subtraction=num1-num2
multiplication=num1*num2
division=num1/num2
print("Addition : ",addition)
print("Subtraction : ",subtraction)
print("Multiplication : ",multiplication)
print("Division : ",division)

Addition :  21
Subtraction :  7
Multiplication :  98
Division :  2.0

In [18]:
#display the numbers from 1 to 5 as steps
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [20]:
# python code using line breakers
print('"SDK"stands for "Software Develiopment kit"\nwhereas "IDE" stands for "Inegrated Development Environment"')

"SDK"stands for "Software Develiopment kit"
whereas "IDE" stands for "Inegrated Development Environment"

In [27]:
#practice and check output
print("python is an \"awesome\" language.")
print("python\n\t2023") 
print('I\'m from Entri.\b')
print("\65") 
print("\x65") 
print("Entri", "2023", sep="\n") 
print("Entri", "2023", sep="\b") 
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [2]:
#Define variables and print type of each variable
num = 23
textnum = "57"
decimal = 98.0
print("Type of num:",type(num))
print("Type of textnum",type(textnum))
print ("Type of decimal",type(decimal))
textnum_int=int(textnum)
sum=num + textnum_int + decimal
print("sum of variables : ",sum)
print("Type of sum:",type(sum))

Type of num: <class 'int'>
Type of textnum <class 'str'>
Type of decimal <class 'float'>
sum of variables :  178.0
Type of sum: <class 'float'>

In [4]:
#calculate number of minutes in  ayear
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour
print("Total minutes in a year:", total_minutes_in_year)

Total minutes in a year: 525600

In [6]:
#ask the user to enter name and print greeting
name = input("Please enter your name: ")
print("Hi", name + ", welcome to Python programming")

Please enter your name:  geethu

Hi geethu, welcome to Python programming

In [12]:
#pounds to dollars
conversion_rate = 1.27
pounds = float(input("Please enter amount in pounds: £"))

# Convert to dollars
dollars = pounds * conversion_rate
print("£" + str(pounds) + " are $" + str(round(dollars, 2)))

Please enter amount in pounds: £ 250

£250.0 are $317.5